{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}Matrix Admin{% endblock %}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'css/matrix-style.css' %}" />
<link rel="stylesheet" href="{% static 'css/matrix-media.css' %}" />
<link rel="stylesheet" href="{% static 'css/select2.css' %}" />
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
<link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/jquery.gritter.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Matrix Admin</a></h1>
</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    
    <li class=""><a title="" href="{% url 'logout' %}"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->
<!--start-top-serch-->
<!--<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>-->
<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar"><a href="{% url 'index' %}" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li class="active"><a href="{% url 'index' %}"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li class="submenu"> <a href="#"><i class="icon icon-user"></i> <span>User</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="{% url 'userreg' %}">User Create</a></li>
        <li><a href="{% url 'index' %}">User List</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-user"></i> <span>Project</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="{% url 'projectcreate' %}">Project Create</a></li>
        <li><a href="{% url 'projectlist' %}">Project List</a></li>
      </ul>
    </li>    
    <li class="submenu"> <a href="#"><i class="icon icon-user"></i> <span>Audit</span> <span class="label label-important">4</span></a>
      <ul>
        <li><a href="{% url 'checklistentry' %}">Process Checklist Create</a></li>
        <li><a href="{% url 'checklistview' %}">Process Checklist Items</a></li>
        <li><a href="{% url 'auditreport' %}">Create Audit Report</a></li>
        <li><a href="{% url 'auditreportview' %}">Audit Reports</a></li>
      </ul>
    </li>    
    
  </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
  <main>
  <div class="container-fluid">
    {% block content %}
    {% endblock %}
  </div>
  </main>
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>

<!--end-Footer-part-->

<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
<script src="{% static 'js/jquery.min.js' %}"></script> 
<script src="{% static 'js/jquery.ui.custom.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/bootstrap-colorpicker.js' %}"></script> 
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script> 
<script src="{% static 'js/jquery.toggle.buttons.js' %}"></script> 
<script src="{% static 'js/masked.js' %}"></script> 
<script src="{% static 'js/jquery.uniform.js' %}"></script> 
<script src="{% static 'js/select2.min.js' %}"></script> 
<script src="{% static 'js/matrix.js' %}"></script> 
<script src="{% static 'js/matrix.form_common.js' %}"></script> 
<script src="{% static 'js/wysihtml5-0.3.0.js' %}"></script> 
<script src="{% static 'js/jquery.peity.min.js' %}"></script> 
<script src="{% static 'js/bootstrap-wysihtml5.js' %}"></script> 
<script src="{% static 'js/matrix.charts.js' %}"></script>
<script>
  $('.textarea_editor').wysihtml5();
</script>
{% block javascript %}{% endblock %}
</body>
</html>